/* styles.css */

.Odin {
    background-color: slateblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    display: flex;
}

.heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aqua;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 429px;   
    margin-right: 400px; 
    margin-block: 50px;
    margin-block-start: 3px;
    margin-block-end: 53px;
    border: 20px solid blue;
    padding: 20px;
}

#avocado-toast {
    font-size: 40px;
    font-weight: bolder;
    background-color: darkseagreen;
}

#avo-toast {
    font-size: 45px;
    background-color: blueviolet;

}

#pasta {
    background-color: khaki;
    text-align: left;
    padding: 0.9em;
    margin: .3em;
    border: .3em solid green;
    border-style: dotted;
}

.heading1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    background-color: rgb(96, 16, 28);
}


.recipes {
    font-weight: 900;
    border: 20px solid plum;
    margin: 24px;
    padding: 19px;
}

body {
    background-color: crimson;
}

h2 {
    background-color: plum;
}

h1 {
    font-size: 30px;
}

#quesadilla {
    font-size: 20px;

}